lgsp_client/src/com/dtt/lgsp/entities/GatewayKetQua.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DanhSachKetQua">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GatewayKetQua" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="messageId"/>
              <xs:element type="xs:string" name="maCoSo"/>
              <xs:element type="xs:string" name="maLoi"/>
              <xs:element type="xs:string" name="moTaLoi"/>
              <xs:element type="xs:string" name="xmlKetQua"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>